{% extends "layout.html" %}
{% block body %}
  <ul>
  {% for user in users %}
    <li><a href="{{ user.url }}">{{ user.username }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}

    {% macro abc() %}
    <a herf="/aa{{bb}}">aa</a>
    {% endmacro %}
{% call abc() %}
